<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou link para alteração de senha. Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou alteração de senha, favor ignorar esse email.</p>
<p>Sua senha não será alterada a menos que você a altere pelo link, ela seguirá a mesma.</p>
